@charset "UTF-8";
@import '../common/mixin';
@import '../common/function';
// 头部
header.g-header {
    position: relative;
    z-index: 100;
    width: 100%;
    height: rem(88);
    &.fixed{
        position: fixed;
    }
    .f-fx {
        position: fixed!important;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        height: rem(88);
        line-height: rem(88);
        @include linear-gradient(#{'180deg, #D73558 0%, #C43364 100%'});
        @include box-shadow(inset 0 -1px 0 0 rgba(0, 0, 0, 0.10));
        &.white{
            background: #fff;
            box-shadow: none;
            -webkit-box-shadow: none;
            @include bd-bottom(#F4F4F4);
            .style-ios & {
                @include bd-bottom-ios(#F4F4F4);
            }
            .goBack{
                background-image: url('../common/imgs/back_black.png');
                &.close{
                    background-image: url('../common/imgs/icon_closed.png');
                    background-size: rem(35) auto;
                }
            }
            .title-wp .u-txt{
                color: #25292F;
            }
            .skip{
                color: #CB9D6D;
            }
        }
    }
    .transparent {
        background-image: none;
        -webkit-background-image: none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .blank {
        background-image: none;
        -webkit-background-image: none;
        background-color: #fff;
        .goBack {
            background: url('../common/imgs/component_backbtn.png') no-repeat center;
            background-size: auto rem(42);
        }
        .u-txt {
            color: #25292F!important;
        }
    }
    .goBack {
        position: relative;
        float: left;
        display: block;
        width: rem(95);
        height: rem(88);
        margin-right: rem(-100);
        z-index: 5;
        background: url('../common/imgs/back.png') no-repeat center;
        background-size: auto rem(35);
        z-index: 10;
    }
    .skip {
        position: relative;
        z-index: 5;
        display: block;
        float: right;
        min-width: rem(80);
        height: rem(88);
        margin-left: rem(-200);
        padding-right: rem(30);
        font-size: rem(28);
        color: #fff;
        background: none;
        @include textAlign(right);
        @include box-sizing(border-box);
    }
    .title-wp {
        float: left;
        width: 100%;
        position: relative;
        z-index: 1;
        .u-txt {
            margin: 0 rem(100);
            @include textAlign(center);
            font-size: rem(32);
            color: #fff;
            @extend %text-overflow;
        }
    }
}

body.style-ios {
    header.g-header {
        padding-top: rem(40);
        height: rem(80);
        .f-fx {
            padding-top: rem(40);
            height: rem(80);
            line-height: rem(80);
        }
        .goBack,.skip {
            height: rem(80);
        }
    }
}
