@charset 'UTF-8';
@import './common/mixin';
@import './common/function';
.m-wp {
    .banner {
        width: 100%;
        height: rem(567);
        background: url('~common/imgs/changeDate/cd-banner.png') no-repeat center top;
        background-size: 100% auto;
    }
    .m-hint {
        width: 100%;
        height: rem(80);
        line-height: rem(80);
        background-color: #FBEFD8;
        color: #CB9D6D;
        font-size: rem(24);
        text-align: center;
    }
    .m-box {
        width: rem(690);
        margin: 0 auto;
        margin-top: 0;
        background-color: #fff;
        border-radius: rem(6);
        &.mt109 {
            margin-top: rem(-109);
        }
        &.mt20 {
            margin-top: rem(20);
        }
        .m-form {
            padding: rem(20) rem(30);
            .form-btn {
                margin-top: rem(30);
                margin-bottom: rem(10);
            }
        }
    }
}

.container {
    padding-top: rem(20);
    .m-title {
        line-height: rem(50);
        font-size: rem(24);
        color: #ADADAD;
        padding-left: rem(30);
        padding-right: rem(12);
    }
}

// 改期单程/返程
.wayItem {
    padding: rem(30) rem(30) 0;
    background: #fff;
    @include border-radius(rem(6));
    @include box-shadow(0 rem(6) rem(10) 0 rgba($color: #000000, $alpha: .02));
    margin-bottom: rem(20);
    position: relative;
    .ow-main {
        padding-bottom: rem(30);
        .ow-hd {
            font-size: rem(28);
            line-height: rem(28);
            font-weight: 600;
            color: #25292F;
        }
        .ow-bd {
            font-size: rem(24);
            line-height: rem(24);
            color: #ADADAD;
            margin: rem(12) 0;
        }
        .ow-ft {
            font-size: rem(18);
            line-height: rem(24);
            color: #D8D8D8;
            span {
                font-size: rem(24);
                color: #ADADAD;
                vertical-align: middle;
                padding-right: rem(8);
            }
        }
    }
    .ow-btn {
        width: rem(130);
        height: rem(58);
        line-height: rem(58);
        text-align: center;
        color: #fff;
        font-size: rem(26);
        @include linear-gradient($lg);
        @include border-radius(rem(6));
        @include box-shadow(0 rem(6) rem(10) 0 rgba($color: #000000, $alpha: .1));
        @include ct(auto,
        rem(30));
    }
}


// form信息
.formBox {
    margin-top: rem(20);
    overflow: hidden;
    @include border-radius(rem(6));
    @include box-shadow(0 rem(6) rem(10) 0 rgba($color: #000000, $alpha: .02));
}

// 协议
.serviceRules {
    margin-top: rem(40);
    .ruleTxt {
        margin-top: rem(5);
        margin-left: rem(65);
        color: #848484;
        font-size: rem(24);
        a {
            color: #848484;
            text-decoration: underline;
        }
    }
}

.legDetail {
    padding: rem(23) rem(30);
    margin-bottom: rem(20);
    background: #fff;
    @include border-radius(rem(6));
    @include box-shadow(0 rem(6) rem(10) rgba($color: #000, $alpha: .02));
    .fltStatus {
        font-size: rem(24);
        font-weight: 600;
        padding: rem(2) rem(8);
        color: #fff;
        height: rem(28);
        line-height: rem(28);
        margin-top: rem(19);
        margin-right: rem(20);
        @include linear-gradient($lg);
        @include border-radius(rem(4));
    }
    .fltMain {
        .fltTitle {
            font-size: rem(28);
            color: #3A3D50;
            line-height: rem(28);
            margin-bottom: rem(14);
        }
        .fltInfo {
            font-size: rem(24);
            color: #ADADAD;
            line-height: rem(24);
        }
    }
    .fltTxt {
        font-size: rem(28);
        color: #CB9D6D;
        margin-top: rem(13);
    }
}

.inputAnime {
    &::before {
        border-top: none;
        top: auto;
    }
    @include bd-bottom(#EBECEE);
    .style-ios & {
        &::before {
            border-top: none;
            top: auto;
        }
        @include bd-bottom-ios(#EBECEE);
    }
    &:first-child {
        &::before {
            // border-top: none;
            top: auto;
        }
        .style-ios & {
            &::before {
                // border-top: none;
                top: auto;
            }
        }
    }
}